// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import './variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

html {
  @include media-breakpoint-up(lg) {
    font-size: 1.6rem;
  }
}

body {
  background-image: url('/images/main-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.widget {
  &__header {
    font-size: 3rem;
    border-bottom: 1px solid grayscale(200);
    text-transform: uppercase;
  }
  &__body {
    padding: map_get($spacers, 4);

    display: flex;
  }
  &__status {
    flex: 1;
    &:last-child {
      text-align: right;
    }
  }
  &__status-label {
  }
  &__status-data {
  }
}

.app-row {
  height: 25vh;
}