// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import './variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

.widget {
  &__header {
    border-bottom: 1px solid grayscale(200);
    text-transform: uppercase;
  }
  &__body {
    padding: map_get($spacers, 4);

    display: flex;
  }
  &__status {
    flex: 1;
    &:last-child {
      text-align: right;
    }
  }
  &__status-label {
  }
  &__status-data {
  }
}